:root {
  --main-text: whitesmoke;
  --bg-1: rgb(28, 161, 163);
  --bg-2: rgb(33 51 85);
  --main-text-shadow: 1px #525252;
  --title-text-shadow: 2px #707070;
  --highlight: #7ad8f3;
}

body {
  font-family: "Roboto Slab", serif;
  background: linear-gradient(to bottom,
      var(--bg-1) 0%,
      var(--bg-2) 55%,
      var(--bg-1) 100%);
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: #c7e6ff;
  height: 15%;
  border: 3px outset rgb(192, 239, 252);
}

::-webkit-scrollbar-thumb:hover {
  background: #daeeff;
  border: 3px outset #daeeff;
}

a {
  color: whitesmoke;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  color: var(--highlight);
  text-decoration: none;
}

.underlined {
  text-decoration: underline;
}

.underlined:hover {
  text-decoration: underline;
}

.bi-arrow-down-circle {
  height: 10vh;
  fill: white;
}

.bi-arrow-down-circle:hover {
  height: 9vh;
  transition: 0.05s;
  fill: var(--highlight);
}

.navbar {
  /* backdrop-filter: blur(10px); */
}

.navbar,
.intro {
  text-shadow: var(--title-text-shadow);
}

#nav-title {
  max-width: 300px;
  line-height: 0.75 !important;
}

#nav-title small {
  font-size: 1rem;
}

@media (max-width: 576px) {
  #nav-title {
    /* Default h3 size */
    font-size: calc(1.2rem + 0.2vw);
    max-width: 200px;
  }

  #nav-title small {
    font-size: 0.9rem;
  }
}

.navbar-brand {
  line-height: 2em;
}

.nav-link img:hover {
  height: 46px;
  width: 46px;
  transition: 0.05s;
}

.logos {
  height: 50px;
  width: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 2px outset #00000000;
  border-radius: 20%;
}

#profile-pic {
  width: 100%;
  max-width: 250px;
  border: none;
  --bs-border-opacity: 0;
  --bs-border-color: rgba(22, 125, 127, 0);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

.contact-sub {
  border-radius: 15px;
}

#contact-logo {
  height: 50px;
  width: 50px;
}

/* #showcaseCarousel {
  border: 4px outset #74c2fb;
  border-radius: 1%;
  width: 100%;
}
.showcase-item,
.carousel-item-next,
.carousel-item-left,
.carousel-item-active {
  border-radius: 1%;
} */

.card {
  background-image: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.card:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.card-text,
.card-title,
body {
  color: var(--main-text);
  text-shadow: var(--main-text-shadow);
}

.project-card {
  /* padding-top: 2em; */
}

.card-img-top {
  /* border: 4px outset #74c2fb;
  border-radius: 1%; */
}

.small-text {
  font-size: 1.125rem;
}

.bg-primary {
  background-color: #e10e31 !important;
}

.bg-secondary {
  background-color: #8db1f0 !important;
}

.bg-tertiary {
  background-color: #099b9b !important;
}

.bg-quaternary {
  background-color: #bfb21f !important;
}

.bg-five {
  background-color: #707070 !important;
}

.badge {
  text-shadow: none;
  --bs-badge-font-weight: 0;
}

.custom-button {
  background-color: #8db1f0;
  color: whitesmoke;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.custom-button:hover {
  background-color: #25d7d7;
  color: white;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}