::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #eee; 
}
::-webkit-scrollbar-thumb {
    background: #343a40;
    height: 15%;
}
::-webkit-scrollbar-thumb:hover {
  background: #444; 
}
body {
    font-family: 'Stylish', sans-serif;
}
a {
  color: whitesmoke;
  text-decoration: none;
}
a:hover {
  color: #C2BBFF;
  text-decoration: none;
}
hr {
  border-radius: 50%;
  height: 2px;
  width: 65%;
  background-color: #C2BBFF;
  margin-top: 2em;
  margin-bottom: 2em;
}
.navbar-brand {
    line-height: 2em;
}
.nav-link {
    font-size: x-large;
}
.nav-link img:hover {
  height: 43px;
  width: 43px;
  transition: .3s;
}
.accent-text {
  color: #C2BBFF;
}
.accent-text-secondary {
  color: #343a40;
}
.accent-secondary {
  background-image: -webkit-linear-gradient( bottom, white, #C2BBFF77, #C2BBFF);
     background-image: -moz-linear-gradient( bottom, white, #C2BBFF77, #C2BBFF);
      background-image: -ms-linear-gradient( bottom, white, #C2BBFF77, #C2BBFF);
       background-image: -o-linear-gradient( bottom, white, #C2BBFF77, #C2BBFF);
          background-image: linear-gradient( bottom, white, #C2BBFF77, #C2BBFF);
       background-attachment: fixed;
}
.logos {
  height:40px;
  width: 40px;
}
#profile-pic {
height: 250px;
}

.round-border {
  border-radius: 10%;
}
.round-border-sm {
  border-radius: 5%;
}
.round-top {
  border-radius: 10% 10% 0% 0%;
}
#extras-btn:hover {
  color: #C2BBFF;
}

.project-card {
  background-color: #343a40;
}
.sub-text {
  color: whitesmoke;
}

.btn {
  border-radius: 290486px;
}
.contact-sub {
  border-radius: 15px;
}
.btn-outline-primary {
  color: #C2BBFF;
  outline-color: #C2BBFF;
  border: 1px solid #C2BBFF;
  box-shadow: none;
  letter-spacing: .15em;
}
.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active {
background-color: #C2BBFF;
color: whitesmoke;
border-color: #C2BBFF;
box-shadow: none;
text-decoration: none;
}
.contact {
  background-image: -webkit-linear-gradient( top, white, white, #C2BBFF77, #C2BBFFaa, #C2BBFFdd, #C2BBFF);
     background-image: -moz-linear-gradient( top, white, white, #C2BBFF77, #C2BBFFaa, #C2BBFFdd, #C2BBFF);
      background-image: -ms-linear-gradient( top, white, white, #C2BBFF77, #C2BBFFaa, #C2BBFFdd, #C2BBFF);
       background-image: -o-linear-gradient( top, white, white, #C2BBFF77, #C2BBFFaa, #C2BBFFdd, #C2BBFF);
          background-image: linear-gradient( top, white, white, #C2BBFF77, #C2BBFFaa, #C2BBFFdd, #C2BBFF);
       background-attachment: fixed;
       
color: #4b4b4b;
}
#contact-logo {
  height: 50px;
  width: 50px;
}